[submodule "GALGO-2.0"]
	path = GALGO-2.0
	url = https://github.com/aleksiy325/GALGO-2.0
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "crow"]
	path = crow
	url = https://github.com/ipkn/crow
